<header class="masthead">
  <ul class="language-nav">
    <li><a href="#">CSS</a></li>
    <li><a href="#">HTML</a></li>
    <li><a href="#">Javascript</a></li>
    <li><a href="#">Ruby</a></li>
  </ul>

  <figure>
    <img src="assets/AA_Times_Logo.png" alt="App Academy Times" class="logo">
  </figure>

  <ul class="masthead-links">
    <li><a href="#">Tuesday, October 18, 2016</a></li>
    <li><a href="#" class="masthead-links-gray"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Today’s Paper</a></li>
    <li><a href="#" class="masthead-links-gray"><i class="fa fa-video-camera" aria-hidden="true"></i> Video</a></li>
    <li><a href="#"  class="button">77°F</a></li>
    <li><a href="#"  class="button">AAO <strong>+100%</strong></a></li>
  </ul>
</header>
