main {
  margin-top:20px;
}

h1 {
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 4px;
}

h2 {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 4px;
}

.sidebar-title {
  text-align:center;
}

h3 {
  font-size:12px;
  padding-bottom: 4px;
}

.sidebar-subhead {
  text-transform: uppercase;
}

.headline a:hover {
  text-decoration: underline;
  color:black;
}

.byline {
  color: $gray;
  font-weight:normal;
}

figure {
  margin-top:0px;
  margin-left:0px;
}

figcaption {
  margin: 10px 0;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

article li {
  list-style-type: disc;
  margin-top: 10px;
  line-height: 1.3em;
  font-size: 13px;
  margin-left:12px;
}

article p {
  margin-top: 10px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

hr {
  height:1px;
  margin: 14px auto;
  width: 50%;
  color: $light-gray;

}

.comments-link {
  color:$blue;
}

.comments-link:hover {
  text-decoration: underline;
}

section.top-story {
  padding-bottom: 30px;
  border-bottom: 4px solid $light-gray;
  margin-bottom: 40px;
}

.thumbnail {
  height:100px;
  margin: 10px 0;
}

.thumbnail img {
  object-fit: cover;
  height:100%;
  width:100%;
}

.link_list {
  list-style-type: disc;
  margin-left: 12px;
}

.link_list a {
  font-weight: bold;
}
.signup {
  height: 40px;
  width:100%;
  border: 1px solid $light-gray;
  flex: 3 100%;
}
.signup input[type="email"] {
  outline: 1px solid $light-gray;
  border: 1px solid $light-gray;
  font-family: $sans-serif;
  padding:4px;
  width:100%;
}
.subscript {
  color:$gray;
  text-align:center;
  font-family: $sans-serif;
  font-size: 10px;
  margin-top:6px;
}
