<h1>Create a Sub</h1>

<%= flash[:errors]  %>

<form  action=" <%= subs_url  %>" method="post">
  <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %>">

  <input type="hidden" name="sub[user_id]" value=" <%= @current_user.id  %>">
  <label> Title:
    <input type="text" name="sub[title]" >
  </label>
  <br>
  <label> Description:<br>
    <textarea name="sub[description]" rows="8" cols="80">
    </textarea>
  </label>
  <br>
  <input type="submit"  value="Create Sub">

</form>
